.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 48px;
}

@media (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 12px;
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 64px;
  }
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 92px;
    padding: 0 48px 0 48px;
    gap: 14px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin-top: 92px; /*92*/
    padding: 0 48px;
    gap: 16px;
  }
}
