.cover {
  margin: 0 auto;
}

@media (min-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
@media (min-width: 400px) {
  .cover {
    margin-top: 90px;
  }
}


@media (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}
