.page__cover {
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 312px;
    padding-right: 312px;
    margin-top: 92px;
}


@media (max-width: 1024px){
        .page__cover {
    padding:0;
    }
}
